body{
	background-color: white;
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border:0;
	}
.navbar-brand
	{
	padding: 25px;	
	clear: right;
	}
	.navbar-brand h1
{
	color: white;
	font-size: 5ex;
	margin-top: 0;
	margin-bottom:0;
	line-height: 0.75;
	font-weight: bold;
	}


.container
{
	width: 100%;
	} 
	.container span>h2
 {
 	text-align: center;
 	color: black;
 	font-size: 7ex;
    font-weight: bolder;
 }
 .container span>h3
 {
 	text-align: center;
 	font-size: 4ex;
 	font-weight: bold;
 	color: red;
 }
 #chicken-tile,#beef-tile,#sushi-tile 
 {
 	background-color: lightblue;
 	border:1px solid black;
 	margin-bottom: 10px;
 	margin-top: 10px;
 }
 #chicken-tile p,#beef-tile p,#sushi-tile p
 {
 	color: green;
 	font-size: 2ex;
 	padding: 10px;
 }
 #nav-list {
  margin-top: 10px;
}
@media(max-width:767px )
  {
  	#nav-list a {
  text-align: center;
  color: white;
}}
@media(min-width: 768px)
{
	#nav-list a
	 {
  text-align: center;
  color: white;
font-size: 0px;
}
  }


#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
color: black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
 @media(max-width: 467px)
 {
 	#header-nav
 	{
 		height:150px;
   }
   #header-nav h1
   {
   	margin-right: 10px;
   	position:absolute;
   	clear: right;
   }
   .navbar-brand{
   	margin-right: 10px;
   }
   .navbar-brand h1
 {
font-size: 10vw;
 }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  margin-bottom: 20px;
}
  